.sliderSection {
  width: 100%;
  overflow: hidden;

  .slidesContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200%;
    animation: bannerMove 50s linear infinite;

    &.paused {
      -webkit-animation-play-state: paused;
      animation-play-state: paused;
    }

    .companyLogo {
      width: 100%;
      display: flex;
      justify-content: space-around;
      gap: 20px;

      .slidesUl {
        display: flex;
        list-style-type: none;
        padding-left: 0;
        margin: 0;

        .slidesLI {
          width: 100px;
          height: 100px;
        }
      }
    }
  }

  @keyframes bannerMove {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
